# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Archives & release
*.xcarchive
*.dmg

# Secrets / local
.env
.env.local
